/*//////////////////////////////////////////
                RESET.CSS
///////////////////////////////////////////*/

@charset "utf-8";

/*폰트적용*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html,
body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background-color: #fff;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -1px;
}

a,
address,
article,
aside,
audio,
b,
body,
button,
caption,
dd,
div,
dl,
dt,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
img,
input,
label,
legend,
li,
main,
nav,
ol,
p,
q,
s,
section,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 400;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
}

article,
aside,
audio,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
section,
video {
    display: block;
    box-sizing: border-box;
}

ul:after,
ol:after {
    content: "";
    display: block;
    clear: both;
}

.page {
  width: 62%;

    width: 100%;
    /*    height: 100%;*/
    height: 900px;
    position: relative;
    box-sizing: border-box;

    /*    overflow: hidden;*/
}

footer {
    overflow-y: hidden;
    overflow-x: hidden;
}

/*::-moz-selection {
   background:#4B66CF;
   color: #fff;
}
::selection {
   background:#4B66CF;
   color: #fff;
}*/
input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}